<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ app.request.basepath }}web\Lib\Bootstrap\bootstrap-3.3.6-dist\css\bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/Trail_css.css" rel="stylesheet">
    <title>Trail_de_la_mine</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">Trail_de_la_mine</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                </div>
            </div><!-- /.container -->
        </nav>
        
         <table class="table">
             
             <caption>Liste des coureurs</caption>
             
             
             <tr>  <th> Id_coureur </th>
             <th> Nom </th>
             <th> Prénom </th>
             <th> Date de naissance </th>
             <th> Sexe </th> 
             <th> Adresse </th>
             <th> Code Postal </th>
             <th> Ville </th>
             <th> Telephone </th>
             <th> Adresse Mail </th>
             <th> Club </th> </tr> 
        {% for coureur in coureurs %}
                    
     <tr> <td>{{ coureur.id }}</td>
          <td>{{ coureur.nom }}</td>
          <td>{{ coureur.prenom }}</td>
          <td>{{ coureur.date_naiss }}</td>
          <td>{{ coureur.sexe }}</td>
          <td>{{ coureur.adresse }}</td> 
          <td>{{ coureur.code_postal }}</td>
          <td>{{ coureur.ville }}</td>
          <td>{{ coureur.telephone }}</td> 
          <td>{{ coureur.email }}</td> 
          <td>{{ coureur.club }}</td>  </tr>
   
        {% endfor %}
        
         </table>
        
        <footer class="footer">
            <a href="https://Thibaut197@bitbucket.org/Thibaut197/trail-de-la-mine.git" >
        </footer>
    </div>
</body>
</html>