body { 
    padding-top: 50px; 
}


class table


table, td,th {
    border-collapse : collapse; 
}
table,td,th {
border:solid 1px #000000;
}

td, th

{
    text-align: center;x   
    border: 2px solid black;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}